.modal-container {
    inset: 0;
    position: fixed;
    cursor: pointer;
    background-color: rgba(30, 41, 59, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
.modal-container img {
    aspect-ratio: 3/2;
    padding: 10px;
    object-fit: cover;
}

@media (min-width: 1255px) {
    .modal-container img {
        width: 95%;
    }
}
@media (min-width: 912px) and (max-width: 1255px) {
    .modal-container img {
        width: 85%;
    }
}
@media (min-width: 450px) and (max-width: 912px) {
    .modal-container img {
        width: 100%;
    }
}
@media (max-width: 450px) {
    .modal-container img {
        display: none;
    }
    .modal-container {
        display: none;
    }
}